.puzzle {
  width:90%;
  position: absolute;
  bottom:5%;
  left:5%;
  >div {
    @include aspect-ratio(1, 1.25);
    display: inline-block;
    font-size:3em;
    text-align: center;
    width:(100%/12)*0.94;
    margin:0 ((100%/11)*0.03);
    border-radius: 0.1em;
    background: rgba(80,82,90,0.98);
    color: #ffffff;
    &:first-child {
      margin-left:0;
    }
    &:last-child {
      margin-right:0;
    }
    .ratio-content > div {
      width:100%;
      height:auto;
      min-height:50px;
      @extend %valign;
    }
    &.disabled {background: rgba(195,196,198,0.3)}
  }
}
