.game {
  .game-content {
    .missed-characters {
      text-align: right;
      h2 {
        font-size: 15px;
        margin: 7px 0;
        color: $color-primary-dark;
      }
      .characters {
        list-style: none;
        margin: 7px 0;
        display: flex;
        justify-content: flex-end;
        li {
          padding: 0 5px;
        }
      }
    }
    .definitions {
      font-size: 13px;
      margin:20px 0;
    }
  }
}
