body {
  color: #1c6eb5;
  font-family: "Roboto"
}
.mount {
  @include rwd-properties(width, (xs: 100vw, sm: 100%));
  height:100vh;
  background: url('/assets/img/bg.svg') no-repeat bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  .screen-wrapper {
    height:100vh;
    width:100%;
    overflow:hidden;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .grass {
      width:100%;
      height:25%;
      position: absolute;
      bottom:0;
      background: url('/assets/img/grass.svg');
      background-size:cover;
      background-repeat: no-repeat;
      background-position: top;
      z-index:100;
    }
    .container {
      @include rwd-properties(width, (xs: 95vw, sm: 450px));
      height:auto;
      box-sizing: border-box;
      padding:10px 20px;
      background-color: rgba(255,255,255,0.7);
      position: relative;
      z-index: 8;
    }
  }
}
