
.mount {
  width:100%;
  height:100vh;
  background: url('/assets/img/bg.svg') no-repeat bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  .screen-wrapper {
    height:100vh;
    width:100%;
    overflow:hidden;
    position: relative;
    z-index: 0;
    .grass {
      width:100%;
      height:25%;
      position: absolute;
      bottom:0;
      background: url('/assets/img/grass.svg');
      background-size:cover;
      background-repeat: no-repeat;
      background-position: top;
      z-index:100;
    }
  }
}
