.puzzle {
  display: flex;
  justify-content: center;
  max-width:100%;
  flex-wrap: wrap;
  .word {
    display: flex;
    justify-content: center;
    margin: 10px 5px;
    .letter {
      display: flex;
      justify-content: center;
      align-items: center;
      width:20px;
      height: 20px;
      margin: 0 2px;
      border-bottom: 3px solid $color-primary-dark;
      font-size: 20px;
    }
  }
}
